@font-face {
  font-family: "monogram";
  src: url("./assets/monogram.ttf");
}
@font-face {
  font-family: "cabin";
  src: url("./assets/Cabin-Regular.ttf");
}
@font-face {
  font-family: "cozette";
  src: url("./assets/CozetteVector Regular.ttf");
}

html, body {
	margin: 0;
	scroll-behavior: smooth;
	overflow-x: hidden;
	overflow-y: hidden;
}

body {
    background-color: #000;
    font-family: "monogram", sans-serif;
    font-size: 1.6em;
    transition: all 0.5s;
	color: rgba(0, 0, 0, 0);

	background-color: #222;
	background: center repeat url("./assets/fallbackbg.png");
}

#bg {
	font-size: 0px;
		position: absolute;
		width: 100%;
		height: 100%;
    z-index: -1;
		background: center / cover no-repeat url("./assets/fallbackbg.png");
}

#defaultCanvas0 {
	/*opacity: 0;*/
	font-size: 0px;
	color: rgba(0, 0, 0, 0);
    filter: brightness(50%);
		background: center / cover no-repeat url("./assets/fallbackbg.png");
}

b {
    height: 1.6em;
    line-height: 1.6em;
    font-size: 1.6em;
    vertical-align: bottom;
		font-family: "cozette";
}

.modfilestitle {
	font-family: "cozette";
}

.pronouns {
	font-size: 0.7em;
}

.bige {
	font-size: 2em;
}

.coollink {
	color: #aaaaee;
	text-decoration: underline dotted #aae;
	
	transition: text-decoration 0.3s, color 0.3s;
}

.coollink:visited {
	color: #baaaee;
	text-decoration: underline dotted #bae;
	transition: text-decoration 0.3s, color 0.3s;
}

.coollink:hover {
	color: #fff;
	text-decoration: underline dotted #fff;
	transition: text-decoration 0.3s, color 0.3s;
}

.lamelink {
	color: #fff;
	text-decoration: none;
}
.lamelink:visited {
	color: #fff;
	text-decoration: none;
}
.lamelink:hover {
	color: #fff;
	text-decoration: none;
}

#puyo:hover {
	animation: spin 1s linear infinite;
}

#main-bg {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    position: absolute;
    opacity: 0;
    background-color: rgba(20, 20, 20, 0);
    z-index: 1;

    animation-name: fadein-out;
    animation-duration: 0.4s;
    animation-fill-mode: both;
    color: #eee;
    

    /*box-shadow: 16px 16px black;
    
    border: 5px solid rgb(20, 20, 20);
    border-radius: 5px;*/
}

#main {
    height: 100%;
		width: 100%;

    text-align: center;

    text-shadow: 0px 0px 10px black;

    transform: translateY(35%);
    
    opacity: 1;
}


.icon, .iconregular {
    border: 5px solid #222;
    border-radius: 1.3em;
    background-color: #222;
    display: inline-block;
    width: 1.3em;
    height: 1.3em;

    margin: 5px;
    
		transition: width 0.3s, height 0.3s, border-color 0.3s, background-color 0.3s;
}

.icon:hover {
    border: 5px solid #555;
    background-color: #555;
    
    width: 1.6em;
    height: 1.6em;
}

.icon:hover img {
    width: 1.6em;
    height: 1.6em;
}

.icon img, .iconregular img {
    width: 1.3em;
    height: 1.3em;
    transition: width 0.1s, height 0.1s, background-color 0.1s, border-color 0.1s;
}
.iconregular:hover {
	border: 5px solid #999;
	background-color: #999;
}

#koyu {
    background-color: #ff9800 !important;
    border-color: #ff9800 !important;
}
#koyu:hover {
	background-color: #ffa911 !important;
	border-color: #ffa911 !important;
}

#discord {
    background-color: #7289DA !important;
    border-color: #7289DA !important;
    
    cursor: pointer;
}
#discord:hover {
	background-color: #5067BC !important;
	border-color: #5067BC !important;
}

#youtube {
    background-color: #FF0000 !important;
    border-color: #FF0000 !important;
}
#youtube:hover {
	background-color: #AA0000 !important;
	border-color: #AA0000 !important;
}


.tiny {
	font-size: 1em;
}

#discordclipboard {
	display: none;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: rgba(10, 10, 10, 0.5);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #111 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
} 

/* animations */
@keyframes fadein-out {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes spin {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}
