@font-face {
  font-family: "cozette";
  src: url("./assets/CozetteVector Regular.ttf");
}

html, body {
	margin: 0;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
    background-color: #000;
    font-family: "cozette", sans-serif;
    font-size: 18px;
    transition: all 0.5s;
	color: rgba(0, 0, 0, 0);

	background-color: #222;
	background: center repeat url("./assets/notitgbackground.png");
}

#bg {
	font-size: 0px;
		position: absolute;
		width: 100%;
		height: 100%;
    z-index: -1;
		background: center / cover no-repeat url("./assets/fallbackbg.png");
}

#defaultCanvas0 {
	/*opacity: 0;*/
	font-size: 0px;
	color: rgba(0, 0, 0, 0);
    filter: brightness(50%);
		background: center / cover no-repeat url("./assets/fallbackbg.png");
}

b {
    height: 45px;
    line-height: 45px;
    font-size: 45px;
    vertical-align: bottom;
}

.bige {
	font-size: 28px;
}

.coollink {
	color: #aaaaee;
	text-decoration: underline dotted #aae;
	
	transition: text-decoration 0.3s, color 0.3s;
}

.coollink:visited {
	color: #baaaee;
	text-decoration: underline dotted #bae;
	transition: text-decoration 0.3s, color 0.3s;
}

.coollink:hover {
	color: #fff;
	text-decoration: underline dotted #fff;
	transition: text-decoration 0.3s, color 0.3s;
}

.lamelink {
	color: #fff;
	text-decoration: none;
}
.lamelink:visited {
	color: #fff;
	text-decoration: none;
}
.lamelink:hover {
	color: #fff;
	text-decoration: none;
}

#puyo:hover {
	animation: spin 1s linear infinite;
}

#main-bg {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    position: absolute;
    opacity: 0;
    background-color: rgba(20, 20, 20, 0);
    z-index: 1;

    margin: 10px;
    padding: 10px;

    animation-name: fadein-out;
    animation-duration: 0.4s;
    animation-fill-mode: both;
    color: #eee;
    

    /*box-shadow: 16px 16px black;
    
    border: 5px solid rgb(20, 20, 20);
    border-radius: 5px;*/
}

#main {
    height: 100%;
		width: 100%;

    text-align: center;

    text-shadow: 0px 0px 10px black;

    transform: translateY(35%);
    
    opacity: 1;
}

#scrolldown {
	position: absolute;
	background: none;
	text-align: center;
	text-shadow: 0px 0px 10px black;
	opacity: 0.9;

	width: 100%;
	top: 90%;

	font-size: 30px;
}

#modfiles {
	color: #eee;
	position: absolute;
	top: 100%;
	height: 100%;
	width: 97%;
	padding: 2%;

	z-index: 2;

	text-align: center;
}


.icon, .iconregular {
    border: 5px solid #222;
    border-radius: 32px;
    background-color: #222;
    display: inline-block;
    width: 32px;
    height: 32px;

    margin: 5px;
    
		transition: width 0.3s, height 0.3s, border-color 0.3s, background-color 0.3s;
}

.icon:hover {
    border: 5px solid #555;
    background-color: #555;
    
    width: 36px;
    height: 36px;
}

.icon:hover img {
    width: 36px;
    height: 36px;
}

.icon img, .iconregular img {
    width: 32px;
    height: 32px;
    transition: width 0.1s, height 0.1s, background-color 0.1s, border-color 0.1s;
}
.iconregular:hover {
	border: 5px solid #999;
	background-color: #999;
}

#koyu {
    background-color: #ff9800 !important;
    border-color: #ff9800 !important;
}
#koyu:hover {
	background-color: #ffa911 !important;
	border-color: #ffa911 !important;
}

#discord {
    background-color: #7289DA !important;
    border-color: #7289DA !important;
    
    cursor: pointer;
}
#discord:hover {
	background-color: #5067BC !important;
	border-color: #5067BC !important;
}

#song {
    background-color: #aaf !important;
    border-color: #aaf !important;
}
#song:hover {
	background-color: #99e !important;
	border-color: #99e !important;
}

#youtube {
    background-color: #FF0000 !important;
    border-color: #FF0000 !important;
}
#youtube:hover {
	background-color: #AA0000 !important;
	border-color: #AA0000 !important;
}


#theyaremanycolors {
	color: #eee;
  background: center / cover no-repeat url("./assets/colorsbg.png");
	background-color: #111;
}
#fuckwiththebaddest {
	color: #fff;
  background: center / cover no-repeat url("./assets/fuckbg.png");
	background-color: #111;
}
#wakeup {
	color: #eee;
  background: center / cover no-repeat url("./assets/wakeupbg.png");
	background-color: #111;
}
#worms {
	color: #eee;
  background: center / cover no-repeat url("./assets/wormsbg.png");
	background-color: #111;
}
#sticky {
	color: #eee;
  background: center / cover no-repeat url("./assets/745stickybg.png");
	background-color: #300;
}
#tungtiied {
	color: #fff;
  background: center / cover no-repeat url("./assets/tungtiiedbg.png");
	background-color: #111;
}
#thanks {
	color: #fff;
  background: center / cover no-repeat url("./assets/thanksbg.png");
	background-color: #144;
}


.file {
	text-align: left;
	width: 50%;
	position: relative;
	display: inline-block;
	color: #eee;
	background-color: #000;
	box-shadow: 0px 0px 20px 3px #111;
	margin: 2%;
	margin-right: 0px;
	padding: 2%;
	border-radius: 25px;

	text-shadow: 0px 0px 10px black;

	animation-name: fadein-out;
	animation-duration: 0.8s;
	animation-fill-mode: both;
}

.file:visible {
	animation-name: fadein-out;
	animation-duration: 0.4s;
	animation-fill-mode: both;
}

.modfilestitle {
	font-size: 30px;
}
.modfilestitle img {
	height: 32px;
	width: 32px;
}

.difficulty {
	font-size: 36px;
	text-shadow: none;
	float: right;
	color: #eee;
}

.expert, .challenge, .slumpage {
	font-size: 36px;
	text-shadow: -1px 1px 0 #000,
		1px 1px 0 #000,
 		1px -1px 0 #000,
		-1px -1px 0 #000;
}

.expert {
	color: #8200a1;
}
.challenge {
	color: #605ace;
}
.slumpage {
	color: #b5b8ba;
}

.modname {
	font-size: 24px;
}
.tiny {
	font-size: 12px;
}

#discordclipboard {
	display: none;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: rgba(10, 10, 10, 0.5);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #111 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
} 

/* animations */
@keyframes fadein-out {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes spin {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}
